# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
venv/
.venv/
venv_web/

# Django
*.sqlite3
!db.sqlite3
*.log

# Environment
.env
.env.*

# OS / Editor
.DS_Store
.idea/
.vscode/


# Entorn virtual (Virtual Environment)
venv_web/
venv/
env/

# Base de dades local (SQLite)
db.sqlite3

# Fitxers de compilació i cau de Python
__pycache__/
*.py[cod]
*$py.class