# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
venv/
.venv/
venv_web/

# Django
*.log

# Environment
.env
.env.*

# OS / Editor
.DS_Store
.idea/
.vscode/


# Entorn virtual (Virtual Environment)
venv_web/
venv/
env/

# Fitxers de compilació i cau de Python
__pycache__/
*.py[cod]
*$py.class